//Fonts

@font-face {
  font-family: Pragmatica;
  src: url('../../../public/assets/fonts/Pragmatica-Book.woff')
}

@font-face {
  font-family: Steinback;
  src: url('../../../public/assets/fonts/Steinbeck-Regular.ttf')
}
