@import 'variables';

//Global settings

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.body-container {
  max-width: 2000px;
  margin: 0 auto;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  max-width: 2000px;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

h1,
h2,
h3 {
  color: $text-black;
  font-family: Steinbeck, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 28px;

  @media(max-width: 1260px) {
    font-size: 24px;
  }

  @media(max-width: 1000px) {
    font-size: 20px;
  }
}

p,
a,
span,
label,
input,
textarea,
tr,
td,
th,
ul {
  font-family: Pragmatica, sans-serif;
  color: $text-black;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;

  @media(max-width: 1260px) {
    font-size: 15px;
  }

  @media (max-width: 1000px) {
    font-size: 14px;
  }
}


a:visited {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

input:focus,
textarea:focus {
  outline: 1px solid $border-black;
}


