@import '../global/settings';
@import '../variables';

//containers

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-checkbox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 72px;
}

//inputs

.input {
  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 48px;
  font-size: 16px;
  align-self: stretch;
  border: 1px solid $border-grey;
  background: $background-white;
}

.input-error {
  border: 1px solid $error !important;
  background: $background-white !important;
  color: $error !important;
  outline: none !important;
}

.input-label {
  cursor: pointer;
}

.input-readonly {
  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 48px;
  font-size: 16px;
  align-self: stretch;
  border: 1px solid $border-grey;
  background: $background-white;
  outline: none !important;
}

.textarea-input {
  display: flex;
  height: 130px;
  padding: 16px 0 16px 24px;
  align-items: flex-start;
  gap: 48px;
  font-size: 16px;
  align-self: stretch;
  border: 1px solid $border-grey;
  background: $background-white;
}

.textarea-input-error {
  border: 1px solid $error !important;
  background: $background-white !important;
  color: $error !important;
  outline: none !important;
}

.select-input {
  display: flex;
  padding: 16px 24px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  align-self: stretch;
  border: 1px solid $border-grey;
  background: url('../../../public/assets/img/icons/arrow-down.svg') no-repeat calc(100% - 24px)
    center;
  appearance: none;
  outline: none;
}

.select-input:focus {
  background: url('../../../public/assets/img/icons/arrow-left2.svg') no-repeat calc(100% - 24px)
    center;
}

.select-input-error {
  border: 1px solid $error !important;
  background: $background-white !important;
  color: $error !important;
  outline: none !important;
}

.input,
.input-phone {
  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 48px;
  font-size: 16px;
  align-self: stretch;
  border: 1px solid $border-grey;
  background: $background-white;
}

.input-phone:focus {
  outline: none;
}

//Checkbox

@keyframes checkboxChange {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

input[type='checkbox'] {
  display: none;
}

.checkbox-input-label::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid $border-grey;
  background: $background-white;
}

input[type='checkbox']:checked + .checkbox-input-label::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: url('../../../public/assets/img/icons/checkbox-active.svg') no-repeat center;
  animation: checkboxChange 0.5s ease-in-out;
}

.checkbox-input-label span {
  font-size: 12px;
  margin-left: 11px;
  cursor: pointer;
}

//Radio

@keyframes radioChange {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

input[type='radio'] {
  display: none;
}

.radio-input-label::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: url('../../../public/assets/img/icons/radio.svg') no-repeat center;
}

input[type='radio']:checked + .radio-input-label::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: url('../../../public/assets/img/icons/radio-active.svg') no-repeat center;
  animation: radioChange 0.5s ease-in-out;
}

.radio-input-label span {
  font-size: 16px;
  margin-left: 11px;
  cursor: pointer;
}
