@import '../global/settings';
@import '../variables';

//containers

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-checkbox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 72px;
}

//inputs

.input {
  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 48px;
  font-size: 16px;
  align-self: stretch;
  border: 1px solid $border-grey;
  background: $background-white;
}

.input-error {
  border: 1px solid $error !important;
  background: $background-white !important;
  color: $error !important;
  outline: none !important;
}

.input-readonly {
  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 48px;
  font-size: 16px;
  align-self: stretch;
  border: 1px solid $border-grey;
  background: $background-white;
  outline: none !important;
}

.textarea-input {
  display: flex;
  height: 130px;
  padding: 16px 0 16px 24px;
  align-items: flex-start;
  gap: 48px;
  font-size: 16px;
  align-self: stretch;
  border: 1px solid $border-grey;
  background: $background-white;
}

.textarea-input-error {
  border: 1px solid $error !important;
  background: $background-white !important;
  color: $error !important;
  outline: none !important;
}

.select-input {
  display: flex;
  padding: 16px 24px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  align-self: stretch;
  border: 1px solid $border-grey;
  background: url('../../../public/assets/img/icons/arrow-down.svg') no-repeat calc(100% - 24px)
    center;
  appearance: none;
  outline: none;
}

.select-input:focus {
  background: url('../../../public/assets/img/icons/arrow-left2.svg') no-repeat calc(100% - 24px)
    center;
}

.select-input-error {
  border: 1px solid $error !important;
  background: $background-white !important;
  color: $error !important;
  outline: none !important;
}

.input,
.input-phone {
  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 48px;
  font-size: 16px;
  align-self: stretch;
  border: 1px solid $border-grey;
  background: $background-white;
}

.input-phone:focus {
  outline: none;
}
