//Collections list

.collections-list {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.collections-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.collections-item__link {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.collections-item__img {
  width: 100%;
}

.collections-item__title {
  display: flex;
  justify-content: center;
}
