@import 'global/settings';
@import 'global/variables';

.form {
  display: flex;
  flex-direction: column;

  &--gap {
    gap: 20px;
  }
}

.form__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__bottom-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
