@import "./global/settings";

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

//Divs

.form-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 72px;
}
