@import 'variables';

.error-message {
  color: $error;
}

.success-message {
  display: flex;
  position: absolute;
  background-color: $border-black;
  justify-content: space-between;
  padding: 24px;
  margin-bottom: 80px;
  margin-left: 100px;
  width: 465px;
  user-select: none;

  & p {
    color: $background-white;
  }
}
