//Colors

$background-white: #FFFFFF;
$text-black: #2A2835;
$text-grey: #8C8C8C;
$border-grey: #D7D7D7;
$border-black: #1B1A19;
$error: #DB1C4A;

//Modal widths

$nav-modal-width: 542px;
$nav-modal-right: -50vw;
$size-guide-modal-width: 1091px;
$size-guide-modal-right: -150vw;
