@import 'rightModal';

.address-right {
  @extend .modal-right;
  transition: background-color 1.5s ease-in-out;

  &.active {
    .modal-right-content {
      right: 0;
      transition: 1.5s right ease-in-out;
    }
  }

  .modal-right-content {
    flex-direction: row;
    padding: 40px 60px 40px 40px;
    width: 1298px;
    right: $size-guide-modal-right;
    transition: 1.5s right ease-in-out;
  }
}

//Content

.address-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;

  & h2 {
    padding-bottom: 10px;
    border-bottom: $border-grey 1px solid;
    margin-bottom: 20px;
  }
}

//List

.address-content__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
