@import "./settings";

//Broadcast

.broadcast-content {
  display: flex;
  gap: 98px;
  justify-content: center;
  align-content: center;
  margin-bottom: 60px;
}

//Broadcast

.broadcast-poster {
  display: flex;
  align-items: flex-end;
}

.broadcast-video {
  width: 603px;
  height: auto;
}

//Elements

.broadcast-elements {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-bottom: 32px;
  position: absolute;
  color: $background-white;
}

//Article

.broadcast-article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

.broadcast-article p,
.broadcast-article h1 {
  color: $background-white;
}

.broadcast-state {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid $background-white;
  width: 70px;
  color: $background-white;
  font-size: 12px;
}

//Tools

.broadcast-tools {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

.broadcast-tools p {
  color: $background-white;
}

//Products

.broadcast-products {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 12px;
  width: 341px;
}

.broadcast-products__title {
  padding-bottom: 10px;
  font-size: 24px;
  border-bottom: $border-grey 1px solid;
}

.broadcast-products__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.broadcast-products .products-card {
  display: flex;
  width: 166px;
  gap: 10px;
}

.broadcast-products .products-card__title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.broadcast-products .products-card__color {
  width: 10px;
  height: 10px;
  padding: 3px;
}
