@import "global/settings";

.catalog-collection {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  gap: 60px;
  overflow: hidden;

  .main-content__banner-img {
    background-image: url('../../public/assets/img/products/hero1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 0;
    height: 100vw;
  }
}

.catalog__banner {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  max-height: 400px;

}

.main-content__bestsellers-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
