@import './settings';

//Collection

.collection-content {
  padding: 60px;
}

.collection-content__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
  font-size: 24px;
}

.collection-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

//Item vertical

.collection-item--vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.collection-item--vertical p {
  width: 443px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

//Item horizontal

.collection-item--horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.collection-item--horizontal img {
  width: 100%;
}

.collection-item--horizontal p {
  width: 515px;
  margin-left: auto;
}

//Item space between

.collection-item--space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.collection-item--space-between__title {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 340px;
  align-self: center;
}

.collection-item--space-between__title-img {
  width: 603px;
}
