@import 'global/settings';

.collections-list {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @media (max-width: 1260px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.collections-list__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 0 32px 0;
}

.collections-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.collections-item__link {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}
.collections-item__img {
  max-width: 100vw;

  @media(max-width: 1000px) {
    width: 40vw;
  }
  @media(max-width: 500px) {
    width: 80vw;
  }
}

.collections-item__link__title {
  display: flex;
  justify-content: center;
}
