@import 'global/settings';

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 20px;
  gap: 70px;

  @media(max-width: 1100px) {
      gap: 35px;
    }
  
    @media(max-width: 760px) {
      gap: 20px;
      padding-block: 5px;
    }
  
}

.main-footer__links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-link {
  color: $text-black;
  transition: color 0.9s;

  &-active,
  &:hover {
    color: $text-grey;
    transition: 0.5s;
  }
}

.footer-logo {
  svg {
    @media(max-width: 1100px) {
      width: 80%;
    }

    @media(max-width: 760px) {
      width: 50%;
    }
  }
}