@import 'global/settings';

.relevant-looks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.relevant-looks-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}
