
@import 'global/variables';

//Modal right

.modal-right {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 5px;
  pointer-events: none;
  transition: 0.9s;
  z-index: 9999;
  overflow-y: scroll;
  overflow-x: hidden;

  &.active {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: all;
    transition: 0.9s;
    

    .modal-right-content {
      opacity: 1;
      right: 0;
      transition: 0.9s;
      max-height: 100vh !important;
      
      
    }
  }

  .modal-right-content {
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 45%;
    height: 100%;
    padding: 40px 50px;
    background-color: $background-white;
    right: -70%;
    top: 0;
    position: fixed;
    transition: 0.9s;
    z-index: 9999;
    overflow-y: scroll !important;
    overflow-x: hidden;
    box-sizing: border-box;

    @media (max-width: 1020px) {
      width: 50%;
    }

    @media (max-width: 620px) {
      width: 85%;
      padding: 30px 40px;
    }
    @media (max-width: 580px) {
      width: 80%;
    }
    @media (max-width: 480px) {
      width: 78%;
    }
    @media (max-width: 430px) {
      width: 100vw;
      padding: 20px 10px;
      box-sizing: border-box;
    }
  }
}

//Modal right heading

.modal-right-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

