@import 'global/settings';
@import 'global/variables';

//Modal right

.modal-right {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 5px;
  pointer-events: none;
  transition: all 0.9s ease-in-out;
  z-index: 9999;
  

  &.active {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: all;
    z-index: 9999;
    transition: all 0.9s ease-in-out;

    .modal-right-content {
      opacity: 1;
      right: 0;
      transition: all 0.9s ease-in-out;
    }
  }

  .modal-right-content {
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 40%;
    height: 100%;
    padding: 40px 50px;
    background-color: $background-white;
    right: 0;
    top: 0;
    position: fixed;
    transition: all 0.9s ease-in-out;
    z-index: 9999;

    @media(max-width: 1440px) {
      width: 30%;
    }

    @media(max-width: 620px) {
      width: 85%;
    }
    @media(max-width: 580px) {
      width: 80%;
    }
    @media(max-width: 480px) {
      width: 78%;
    }
    @media(max-width: 430px) {
      width: 75%;
    }
  }
}

//Modal right heading

.modal-right-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-right-mobile {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  pointer-events: none;
  transition: background-color 0.9s ease-in-out;
  z-index: 9999;

  &.active {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: all;
    z-index: 9999;
    transition: all 0.9s ease-in-out;

  }

  .modal-right-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
    width: $nav-modal-width;
    right: $nav-modal-right;
    background-color: $background-white;
    top: 0;
    position: fixed;
    overflow: auto;
    transition: all 0.9s ease-in-out;
    z-index: 9999;
  }
}