@import 'rightModal';

.sizeGuide-right {
  @extend .modal-right;
  transition: background-color 1.5s ease-in-out;

  &.active {
    .modal-right-content {
      right: 0;
      transition: 1.5s right ease-in-out;
    }
  }

  .modal-right-content {
    max-width: $size-guide-modal-width;
    right: $size-guide-modal-right;
    transition: 1.5s right ease-in-out;
  }
}

//Content

.sizeGuide-modal-content {
  display: flex;
  gap: 48px;

  @media (max-width: 1100px) {
    flex-direction: column;

    img {
      margin: 0 auto;
      width: 30%;
    }
  }
}

.sizeGuide-modal__table {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sizeGuide-table__title {
  display: flex;
  justify-content: flex-start;
  color: $text-black;
}

//Table

.sizeGuide-table {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 818px;

  & tbody {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 818px;
  }

  & td {
    display: flex;
    width: 147px;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: $border-grey 1px solid;
  }

  & th {
    display: flex;
    gap: 20px;
    width: 147px;
    justify-content: center;
  }

  & thead {
    padding-bottom: 10px;
    border-bottom: $border-grey 1px solid;
  }

  & tr {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

.sizeGuide-table__title {
  padding-bottom: 10px;
  border-bottom: $border-grey 1px solid;
}
