//Profile

.profile {
  display: flex;
  //height: 100vh;
}

.profile-link {
  color: #8C8C8C;
}

.profile-link-active,
.profile-link:hover {
  color: #1B1A19;
}


//Profile menu

.profile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 252px;
  border-right: #D7D7D7 1px solid;
  height: 100%;
}

.profile-menu__links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

//Profile info

.profile-container {
  display: flex;
  flex-direction: column;
  margin-left: 185px;
  gap: 80px;
  width: 516px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile-info__title {
  padding-bottom: 10px;
  border-bottom: #D7D7D7 1px solid;
}

.profile-info__loyalty,
.profile-info__discount {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: #D7D7D7 1px solid;
}

//News

.profile-news {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-news__title {
  padding-bottom: 10px;
  border-bottom: #D7D7D7 1px solid;
}

.profile-news__description {
  padding-bottom: 10px;
  color: #8C8C8C;
  border-bottom: #D7D7D7 1px solid;
}

//Subscribe

.profile-subscribe {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="checkbox"] {
  display: none;
}

label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid var(--grey-3, #D7D7D7);
  background: #FFF;
}

input[type="checkbox"]:checked + label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: url("../../../public/assets/img/icons/checkbox-active.svg") no-repeat center;
}

label span {
  font-size: 12px;
  margin-left: 11px;
  cursor: pointer;
}

.profile-subscribe__button {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
  font-size: 16px;
  border: 1px solid #D7D7D7;
}

//Wishlist

.wishlist-container {
  margin-left: 97px;
  margin-bottom: 60px;
}

//Orders

.orders-container {
  display: flex;
  flex-direction: column;
  margin-left: 98px;
  gap: 40px;
  width: 866px;
}

.orders-title {
  padding-bottom: 10px;
  border-bottom: #D7D7D7 1px solid;
}

.orders-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.orders-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: #D7D7D7 1px solid;
}

.orders-item__button {
  padding: 20px;
  font-size: 12px;
  width: 82px;
  border: #D7D7D7 1px solid;
}

//Order details

.orders-details-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 97px;
  width: 692px;
}

.orders-details-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.orders-details__back-button {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 8px;
}

.orders-details-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.orders-detail {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: #D7D7D7 1px solid;
}

//Addresses

.addresses-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 98px;
  width: 779px;
}

.addresses-title {
  padding-bottom: 10px;
  border-bottom: #D7D7D7 1px solid;
}

.addresses-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addresses-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: #D7D7D7 1px solid;
}

.addresses-item__button {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
  font-size: 12px;
  border: 1px solid #D7D7D7;
}

.addresses__add-button {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
  width: 219px;
  border: 1px solid #D7D7D7;
}

//Address add

.address-add-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 98px;
  width: 778px;
  margin-bottom: 60px;
}

.address-add__back-button {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 8px;
}

.address-add-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.address-add-title {
  padding-bottom: 10px;
  border-bottom: #D7D7D7 1px solid;
}

.address-add-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.address-add-item__title {

}

.address-add-item__input {
  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 48px;
  font-size: 16px;
  align-self: stretch;
  border: 1px solid var(--grey-3, #D7D7D7);
  background: #ffffff;
}

.address-add-item__select {
  display: flex;
  padding: 16px 24px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  align-self: stretch;
  border: 1px solid var(--grey-3, #D7D7D7);
  background: #ffffff;
}

.address-add-item__select option {
  padding: 16px 24px;
}

.address-add-item__textarea {
  display: flex;
  height: 130px;
  padding: 16px 0 16px 24px;
  align-items: flex-start;
  gap: 48px;
  font-size: 16px;
  align-self: stretch;
  border: 1px solid var(--grey-3, #D7D7D7);
  background: #ffffff;
}

.address-add-save-button {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 1px solid #D7D7D7;
}

//Settings

.settings-container {
  display: flex;
  flex-direction: column;
  margin-left: 98px;
  margin-bottom: 60px;
  width: 515px;
}

.settings-title {
  padding-bottom: 10px;
  border-bottom: #D7D7D7 1px solid;
}

.settings-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.settings-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-item__input,
.settings-item__input-phone {
  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 48px;
  font-size: 16px;
  align-self: stretch;
  border: 1px solid var(--grey-3, #D7D7D7);
  background: #ffffff;
}

.settings-item__input-phone:focus {
  outline: none;
}

.settings-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 72px;
}

input[type="checkbox"] {
  display: none;
}

label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid var(--grey-3, #D7D7D7);
  background: #FFF;
}

input[type="checkbox"]:checked + label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: url("../../../public/assets/img/icons/checkbox-active.svg") no-repeat center;
}

label span {
  font-size: 12px;
  margin-left: 11px;
  cursor: pointer;
}

.settings-subscribe__button {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
  font-size: 16px;
  border: 1px solid #D7D7D7;
}
