@import '../global/forms';

.checkout-content {
  display: flex;
  justify-content: space-between;
  padding: 60px;

  @media(max-width: 760px) {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  @media(max-width: $big-phone-size) {
    padding: 45px 30px;
  }

  @media(max-width: $phone-size) {
    padding: 35px 10px;
  }
}

/**
Config
 */

.checkout-config-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-right: 98px;
  border-right: $border-grey 1px solid;
  width: 100%;

  @media(max-width: 1100px) {
    padding-right: 50px;
    gap: 65px;
  }

  @media(max-width: 1100px) {
    padding-right: 50px;
    gap: 65px;
  }

  @media(max-width: 820px) {
    padding-right: 35px;
  }

  @media(max-width: 760px) {
    border: none;
    padding: 0;
    gap: 40px;
  }
  
  @media(max-width: $phone-size) {
    gap: 20px;
  }
}

.configuration-head__icon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #1B1A19;
  transition: 0.7s;
}

.checkout-config {
  &.active {
    .checkout-form {
      max-height: 2000px;
      transition: 0.7s;
    }

    .configuration-head__icon {
      background-color: #1B1A19;
      transition: 0.7s;
    }
  }
}


.checkout-form {
  overflow-y: hidden;
  overflow-x: auto;
  max-height: 0;
  transition: 0.7s;
}

.configuration-content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &.self {
    .city-container,
    .shipping-content {
      display: none;
    }
    .pickup-shipping,
    .address-right {
      display: flex;
    }
  }

}

//Buttons


.configuration {
  padding-bottom: 20px;
  border-bottom: $border-grey 1px solid;
  margin-bottom: 20px;
  width: 100%;

  & h1:hover {
    color: $text-grey !important;
  }
}

.configuration-buttons {
  display: flex;
}

.configuration-buttons__wrapper {
  width: 100%;
  flex-grow: 1;
}

.delivery-button {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: 1px $border-black solid;
  transition: 0.9s background-color ease-in-out;
  box-sizing: border-box;

  & p {
    color: $text-black;
  }

  &:hover {
    background-color: $border-grey;
    transition: 0.9s background-color ease-in-out;
  }

  @media(max-width: $phone-size) {
    padding: 14px 16px;
  }

  @media(max-width: 380px) {
    padding: 12px;
  }
}

.delivery-button.active {
  @extend .delivery-button;
  background-color: $border-black;

  & p {
    color: $background-white;
  }

  &:hover {
    background-color: $border-black;
    cursor: auto;
  }
}

.delivery-header__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;text-align: left;

  & span {
    font-size: 12px;
    color: $text-grey;
  }

  p {
    @media(max-width: 380px) {
      max-width: 90%;
      
    }
  }
}

//Shipping content

.shipping-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

//Address

.configuration-head {
  display: flex;
  justify-content: space-between;
}

//Pickup shipping

.pickup-shipping {
  @extend .shipping-content;
  padding: 24px;
  border: $border-grey 1px solid;
  box-sizing: border-box;
}

.pickup-shipping__title {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.pickup-shipping__title-address {
  color: $text-grey;

  &-button {
    @extend .pickup-shipping__title-address;
    text-align: right;
    width: 353px;
  }
}

//Payment shipping

.payment-checkout {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 20px;
}

.payment-promo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;

  @media (max-width: $big-phone-size) {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
  }

  .input-container {
    @media (max-width: $big-phone-size) {
      gap: 0;
    }
  }
}

/**
Order
 */

.checkout-order-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 98px;
  width: 40%;
  
  @media(max-width: 1100px) {
    padding-left: 40px;
  }

  @media(max-width: 820px) {
    padding-left: 35px;
  }

  @media(max-width: 760px) {
    padding: 0;
    width: 100%;
  }
}

//Order info

.order-info__title {
  padding-bottom: 10px;
  border-bottom: $border-grey 1px solid;
  margin-bottom: 20px;
}

.order-info__list {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.order-info__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: $border-grey 1px solid;
}

//Orders

.orders {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 60px;

  & .products-card-list {
    &--2 {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      width: 100%;
    }
  }

  & .products-card {
    &--medium {
      flex-grow: 1;
      width: 100%;
      
    }
  }

  & .container {
    width: 100%;
  }
}

//Checkout result

.checkout-status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 866px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media(max-width: $laptop-size) {
    width: 85vw;
  }

  & h1 {
    padding-bottom: 10px;
    border-bottom: $border-grey 1px solid;
  }

  & p {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
