.basket-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  transform: scale(0);
}

.basket-modal.active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  transform: scale(1);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}

.basket-modal-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 100vh;
  width: 542px;
  padding: 40px 60px;
  background-color: #FFFFFF;
  top: 0;
  position: fixed;
  overflow: auto;
  transition: 0.9s right ease-in-out;
  right: -542px;
}

.basket-modal.active .basket-modal-content {
  right: 0;
}

//Heading

.basket-modal-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basket-modal-heading__button {
  display: flex;
  padding: 10px;
  border: 1px solid var(--grey-3, #D7D7D7);
  align-items: center;
}

//Order

.basket-modal-order {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.basket-modal-order__title {
  padding-bottom: 10px;
  border-bottom: #D7D7D7 1px solid;
}

.basket-modal-order__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.basket-modal-order__item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: #D7D7D7 1px solid;
}

.basket-modal-order__description {
  color: #8C8C8C;
}

//Link

.basket-modal-order__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid var(--text-black, #1B1A19);
}

//Orders

.basket-modal-orders__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.basket-modal-orders__list .products-card__product {
  width: 188.5px;
}
