@import 'src/styles/global/settings';

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;

  .nav-link {
    color: $text-black;
  }

  .nav-link-active,
  .nav-link:hover {
    color: $text-grey;
  }

  //Logo

  &__logo {
    display: flex;
    align-items: center;
  }

  //Navigation

  &__list {
    display: flex;
    gap: 30px;
  }

  //Buttons

  &__buttons-list {
    display: flex;
    gap: 30px;
  }

  &__buttons-item,
  &__button {
    display: flex;
    align-items: center;
  }

  &__button:hover {
    stroke: $text-grey;
  }
}
