.sizeGuide-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  transform: scale(0);
}

.sizeGuide-modal.active {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4);
  transform: scale(1);
}

.sizeGuide-modal__container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 100vh;
  width: 1091px;
  padding: 40px 58px;
  position: fixed;
  top: 0;
  right: -150vw;
  background-color: #FFFFFF;
  transition: 0.9s right ease-in-out;
}

.sizeGuide-modal.active .sizeGuide-modal__container {
  right: 0;
}

//Heading

.sizeGuide-modal-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sizeGuide-modal-heading__button {
  display: flex;
  padding: 10px;
  border: 1px solid var(--grey-3, #D7D7D7);
  align-items: center;
}

//Content

.sizeGuide-modal__content {
  display: flex;
  gap: 48px;
}

.sizeGuide-modal__table {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sizeGuide-table__title {
  padding-bottom: 10px;
  border-bottom: #D7D7D7 1px solid;
}

.sizeGuide-table {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 818px;
}

.sizeGuide-table tbody{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 818px;
}

.sizeGuide-table th {
  display: flex;
  gap: 20px;
  width: 147px;
  justify-content: center;
}

.sizeGuide-table thead {
  padding-bottom: 10px;
  border-bottom: #D7D7D7 1px solid;
}

.sizeGuide-table tr {
  display: flex;
  gap: 20px;
  align-items: center;
}

.sizeGuide-table td {
  display: flex;
  width: 147px;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: #D7D7D7 1px solid;
}

.sizeGuide-modal__table-info {
  display: flex;
  justify-content: center;
  color: #8C8C8C;
}
