//Colors

$background-white: #FBFBF6;
$text-black: #2A2835;
$text-grey: #8C8C8C;
$border-grey: #D7D7D7;
$border-black: #1B1A19;
$orange: #F99760;
$error: #DB1C4A;

//Modal widths

$nav-modal-width: 542px;
$nav-modal-right: -150vw;
$size-guide-modal-right: -150vw;

// Breakpoints
$big-desktop-size: 1920px;
$desktop-size: 1440px;
$mini-desktop-size: 1260px;
$laptop-size: 1100px;
$tablet-size: 960px;
$mini-tablet-size: 760px;
$big-phone-size: 620px;
$phone-size: 430px;