@font-face {
  font-family: Pragmatica;
  src: url('Pragmatica-Book.woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Steinbeck;
  src: url('SteinbeckRegular.woff');
  font-style: normal;
  font-weight: 400;
}
